
<div class="w-full min-h-screen bg-american-white relative flex">
  <div class="w-1/6 h-full">
    <app-navigation></app-navigation>
  </div>
  <div class="w-5/6 h-full">
    <router-outlet></router-outlet>
  </div>
</div>
