<div class="w-full h-screen overflow-auto p-10">
  <h1>Today:</h1>
  <header class="flex mb-10">
    <div class="w-1/3 text-center text-4xl p-3">
      <div class="card shadow p-3 flex flex-row">
        <div class="w-3/4">
          <strong>
            <p class="text-3xl">Build Cost:</p>
          </strong>
          <p>
            {{calculateTotals('cost')}}
          </p>
        </div>
        <div class="w-1/4 text-4xl flex items-center justify-center">
          <i class="bi bi-bar-chart-line" style="font-size: 4rem; color:#262262"></i>
        </div>
      </div>
    </div>
    <div class="w-1/3 text-center text-4xl p-3">
      <div class="card shadow p-3 flex flex-row">
        <div class="w-3/4">
          <strong>
            <p class="text-3xl">Total Deposit:</p>
          </strong>
          <p>
            {{calculateTotals('deposit')}}
          </p>
        </div>
        <div class="w-1/4 text-4xl flex items-center justify-center">
          <i class="bi bi-coin" style="font-size: 4rem; color:#262262"></i>
        </div>
      </div>
    </div>
    <div class="w-1/3 text-center text-4xl p-3">
      <div class="card shadow p-3 flex flex-row">
        <div class="w-3/4">
          <strong>
            <p class="text-3xl">Difference:</p>
          </strong>
          <p>
            {{calculateTotals('diff')}}
          </p>
        </div>
        <div class="w-1/4 text-4xl flex items-center justify-center">
          <i class="bi bi-arrow-down-up" style="font-size: 4rem; color:#262262"></i>
        </div>
      </div>
    </div>
  </header>
  <section class="w-full flex">
    <div class="p-3 w-1/2 border flex flex-col">
      <h2 class="pb-5 text-center">Sales Months:</h2>
      <apx-chart
        [series]="chartC.series"
        [chart]="chartC.chart"
        [dataLabels]="chartC.dataLabels"
        [plotOptions]="chartC.plotOptions"
        [yaxis]="chartC.yaxis"
        [xaxis]="chartC.xaxis"
        [legend]="chartC.legend"
        [colors]="chartC.colors"
        [grid]="chartC.grid"
      ></apx-chart>
    </div>
    <div class="p-3 w-1/2 border flex flex-col justify-center items-center">
      <h2 class="pb-5 text-center">Current Month:</h2>
      <apx-chart
        [series]="chartD.series"
        [chart]="chartD.chart"
        [labels]="chartD.labels"
        [responsive]="chartD.responsive"
      ></apx-chart>
    </div>
  </section>
</div>
