<div class="pb-10 overflow-auto h-screen">
  <div class="w-5/6 m-auto">
    <h1 class="text-center text-2xl m-10 font-inter text-american-blue">ACTIVE ORDERS</h1>
    <div class="w-full flex pt-5">
      <div class="w-1/5 p-2">
        <ng-select
          [items]="states"
          bindLabel="name"
          bindValue="name"
          placeholder="State"
          [(ngModel)]="filter.state"
          (change)="filterAction($event, 1)">
        </ng-select>
      </div>
      <div class="w-1/5 p-2">
        <ng-select
          [items]="manofactures"
          bindLabel="name"
          bindValue="name"
          placeholder="Manufacturer"
          [(ngModel)]="filter.manufacture"
          (change)="filterAction($event, 2)">
        </ng-select>
      </div>
      <div class="w-1/5 p-2">
        <ng-select
          [items]="sellers"
          bindLabel="name"
          bindValue="name"
          placeholder="Sales Rep."
          [(ngModel)]="filter.seller"
          (change)="filterAction($event, 3)">
        </ng-select>
      </div>
      <div class="w-1/5 p-2">
        <div class="input-group">
          <input
            id="start"
            (dateSelect)="dateStarFilter($event)"
            [(ngModel)]="filter.start_date"
            class="form-control"
            placeholder="Start Date"
            name="start"
            ngbDatepicker
            #start="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="start.toggle()" type="button"></button>
        </div>
      </div>
      <div class="w-1/5 p-2">
        <div class="input-group">
          <input
            id="end"
            (dateSelect)="dateEndFilter($event)"
            [(ngModel)]="filter.end_date"
            class="form-control"
            placeholder="End Date"
            name="end"
            ngbDatepicker
            #end="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="end.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="w-full pb-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="clearFilter()">Clean Filters</button>
    </div>
    <ngx-datatable
        #table
        class="material"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [rows]="orders"
      >
      <ngx-datatable-column name="Name" prop="name">
      </ngx-datatable-column>
      <ngx-datatable-column name="State" prop="state_id">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ includeStateOnMainList(value)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Sales Date" prop="installation_date">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ formatForDate(value)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Sales Rep." prop="seller">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Manufacturer" prop="manufacture">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total Build Cost" prop="build_cost">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{currencyFormatter({currency: 'USD', value})}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Deposit" prop="deposit">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{currencyFormatter({currency: 'USD', value})}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Difference">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{calculateDiference(row.build_cost, row.deposit)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Installed?" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="flex items-center m-auto w-full">
            <input id="default-checkbox" (change)="updateStatus(row.id)" [checked]="row.status" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          </div>
        </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column name="Invoice Copy" prop="document_path">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <a [href]="value" target="_blank" data-bs-toggle="tooltip" data-bs-title="Invoice Copy"  class="pt-1 pb-1 pr-3 pl-3 border rounded text-american-red bg-american-white  active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300"><i class="bi bi-clipboard2-fill"></i></a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="id">
          <ng-template let-value="value" ngx-datatable-cell-template>
           <div id="actions">
            <button data-bs-toggle="tooltip" data-bs-title="Edit Order" (click)="updateRegister(value)"  class="p-2 text-american-red bg-american-white  active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300"><i class="bi bi-pencil-square"></i></button>
            <button data-bs-toggle="tooltip" data-bs-title="Delete Order" (click)="confirmDelete(value)"  class="p-2 text-american-red bg-american-white  active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300"><i class="bi bi-trash-fill"></i></button>
            <button data-bs-toggle="tooltip" data-bs-title="Detail" (click)="selectCurrentOrder(DetailModal, value)"  class="p-2 text-american-red bg-american-white  active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300"><i class="bi bi-eye"></i></button>
           </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="shadow">
        <div class="footer-table">
          <span class="text-xl">
            Total Build Cost: {{ calculateTotalCost() }}
          </span>
          <span class="text-xl">
            Total Deposit: {{ calculateTotalDeposit() }}
          </span>
          <span class="text-xl">
            Difference: {{calculateTotalDiff() }}
          </span>
        </div>
      </div>
  </div>
</div>

<!--Modal Manofacture-->
<ng-template #DetailModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Detail Tracker</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <h5><strong>Nombre:</strong> {{ currentOrder.name }}</h5>
    <h5><strong>Phone:</strong> {{ currentOrder.phone }}</h5>
    <h5><strong>Email:</strong> {{ currentOrder.email }}</h5>
    <h5><strong>Address:</strong> {{ currentOrder.address }}</h5>
    <h5><strong>Build Cost:</strong> {{ currentOrder.build_cost }}</h5>
    <h5><strong>Deposit:</strong> {{ currentOrder.deposit }}</h5>
    <h5><strong>Installation Date:</strong> {{ formatForDate(currentOrder.installation_date) }}</h5>
    <h5><strong>Zip Code:</strong> {{ currentOrder.zip_code }}</h5>
    <h5><strong>State:</strong> {{ findElement(currentOrder.state_id,states) }}</h5>
    <h5><strong>Seller:</strong> {{ findElement(currentOrder.seller_id, sellers)  }}</h5>
    <h5><strong>Manufacturer:</strong> {{ findElement(currentOrder.manufacture_id, manofactures)  }}</h5>
    <div class="pt-2">
      <h5><strong>Notes:</strong></h5>
      <textarea name="notes" id="notes" style="width: 100%; resize: none;" rows="5" [(ngModel)]="currentOrder.note"></textarea>
    </div>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="flagUpdate" (click)="updateNotesRegister()">Save Notes</button>
		<button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>
