.footer-table{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 15px;
  padding: 10px;
}

#actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
