<div class="h-screen w-full flex justify-center items-center bg-american-blue">
  <div class="w-1/3 h-1/2 shadow flex flex-col justify-center items-center rad bg-white rounded">
    <div class="w-full">
      <img class="m-auto w-3/4" src="../assets/logo.png" />
    </div>
    <label class="w-1/2">
      <span class="block text-sm font-medium text-slate-700 text-american-blue">User:</span>
      <input type="text" [(ngModel)]="access.user" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
    </label>
    <label class="w-1/2">
      <span class="block text-sm font-medium text-slate-700 text-american-blue">Password:</span>
      <input type="password" [(ngModel)]="access.password" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
    </label>
    <button (click)="onLoggedin()" class="bg-white hover:bg-gray-100 mt-10 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
      Login
    </button>
  </div>
</div>
