<div>
  <nav class="flex flex-col p-6 w-72 min-h-screen  absolute bg-american-red">
    <div class="flex items-center flex-shrink-0 text-white mr-6 w-full">
      <img class="m-auto"  width="200" src="../assets/logo_white.png" />
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full h-full lg:flex lg:w-auto font-inter">
      <div class="text-sm flex flex-col">
        <a routerLink="main" class="block mt-4 lg:inline-block lg:mt-10  mr-10 text-american-white text-3xl hover:text-american-blue">
          Dashboard
        </a>
        <a routerLink="register" class="block mt-4 lg:inline-block lg:mt-10  mr-10 text-american-white text-3xl hover:text-american-blue">
          Tracker
        </a>
        <a routerLink="list" class="block mt-4 lg:inline-block lg:mt-10  mr-10 text-american-white text-3xl hover:text-american-blue">
          Orders
        </a>
        <!-- <a routerLink="maps" class="block mt-4 lg:inline-block lg:mt-10  mr-10 text-american-white text-3xl hover:text-american-blue">
          Maps
        </a> -->
      </div>
    </div>
  </nav>
</div>
