<div class="w-5/6 h-screen pt-40 m-auto">
  <div>
    <h1 class="text-center text-4xl font-inter text-american-blue mb-12">AAB Order Tracker</h1>
    <div class="flex justify-around mb-8">
      <label class="w-1/2 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Name:</span>
        <input type="text" [(ngModel)]="register.name" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </label>
      <label class="w-1/4 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Phone:</span>
        <input type="text" [(ngModel)]="register.phone" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </label>
      <label class="w-1/4 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Email:</span>
        <input type="text" [(ngModel)]="register.email" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </label>
    </div>

    <div class="flex justify-around mb-8">
      <label class="w-1/4 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">City:</span>
        <input type="text" [(ngModel)]="register.city" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </label>
      <label class="w-1/4 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Zip Code:</span>
        <input type="text" [(ngModel)]="register.zip_code" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none">
      </label>
      <label class="w-1/4 mr-5">

        <div class="select_customer">
          <ng-select
            [items]="states"
            bindLabel="name"
            bindValue="id"
            placeholder="States"
            [(ngModel)]="register.state_id">
          </ng-select>
        </div>
      </label>
    </div>
    <div class="flex justify-start mb-8">
      <label class="w-2/6 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Sales Rep.:</span>
        <div class="flex">
          <select type="text" [(ngModel)]="register.seller_id" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
            <option *ngFor="let seller of sellers index as i"  [value]="seller.id">
              {{seller.name}}
            </option>
          </select>
          <button (click)="openModal(Seller)"  class="py-2 px-3 rounded-full text-sm font-medium text-american-white bg-american-blue border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <span class="bi bi-plus"></span>
          </button>
          <button (click)="confirmDelete('Salesman','sl',register.seller_id)" class="py-2 px-3 rounded-full text-sm font-medium text-american-white bg-american-blue border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <span class="bi bi-trash-fill"></span>
          </button>
        </div>
      </label>
      <label class="w-2/6 mr-5">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Manufacturer:</span>
        <div class="flex">
          <select type="text" [(ngModel)]="register.manufacture_id"  class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
            <option *ngFor="let manofacture of manofactures index as i" [value]="manofacture.id">
              {{manofacture.name}}
            </option>
          </select>
          <button (click)="openModal(Manofacture)"  class="py-2 px-3 rounded-full text-sm font-medium text-american-white bg-american-blue border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <span class="bi bi-plus"></span>
          </button>
          <button (click)="confirmDelete('Manufacturer','mn',register.manufacture_id)" class="py-2 px-3 rounded-full text-sm font-medium text-american-white bg-american-blue border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <span class="bi bi-trash-fill"></span>
          </button>
        </div>
      </label>
      <label class="w-1/6 mr-3">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Sales Date:</span>
        <div class="mb-3">
          <div class="input-group">
            <input
              id="dateOfBirth"
              [(ngModel)]="register.installation_date"
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              ngbDatepicker
              #dp="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </label>
      <label class="w-1/6">
        <span class="block  text-sm font-medium text-slate-700 text-american-blue">CC Authorization Code:</span>
        <input type="text" [(ngModel)]="register.confirmation_number" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </label>
    </div>
    <div class="flex justify-start">
      <label class="w-1/4 mr-10">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Total Build Cost:</span>
        <div class="flex items-center">
          <strong><span class="text-2xl mr-2">$</span></strong>
          <input type="number" [(ngModel)]="register.build_cost" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500">
          </div>
      </label>
      <label class="w-1/4 mr-10">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Deposit Amount:</span>
        <div class="flex items-center">
          <strong><span class="text-2xl mr-2">$</span></strong><input type="number" [(ngModel)]="register.deposit" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500">
          </div>
      </label>
      <label class="w-1/4">
        <span class="block text-sm font-medium text-slate-700 text-american-blue">Invoice Copy:</span>
        <input type="file" (change)="uploadFile($event)" >
      </label>
    </div>
    <div class="w-full flex justify-end mt-5">
      <button *ngIf="!isEdit" [disabled]="isPrint" (click)="saveRegister()" class="py-2.5 px-5 mr-2 text-sm font-medium text-american-white bg-american-blue rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
        <svg *ngIf="isPrint" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>
        Save Order
      </button>
      <button *ngIf="isEdit" [disabled]="onEdit" (click)="editRegister(currentOrder)" class="py-2.5 px-5 mr-2 text-sm font-medium text-american-white bg-american-blue rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
        <svg *ngIf="isPrint" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
        </svg>
        Edit Order
      </button>
    </div>
  </div>
</div>


<!--Modal Seller-->
<ng-template #Seller let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Sales Resp.</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<label class="w-full mr-5">
      <span class="block text-sm font-medium text-slate-700 text-american-blue">Name:</span>
      <input type="text" [(ngModel)]="seller.name" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-500 invalid:text-pink-600
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
    </label>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveSeller()">Save</button>
	</div>
</ng-template>

<!--Modal Manofacture-->
<ng-template #Manofacture let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Manufacturer</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<label class="w-full mr-5">
      <span class="block text-sm font-medium text-slate-700 text-american-blue">Company Name:</span>
      <input type="text" [(ngModel)]="manofacture.name" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-500 invalid:text-pink-600
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
    </label>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
    <button type="button" class="btn btn-outline-dark" (click)="saveManofacture()">Save</button>
	</div>
</ng-template>
